visual_studio_code/SensorBoard/bin/
visual_studio_code/SensorBoard/obj/
visual_studio_code/.vs/
visual_studio_code/SensorBoard/Properties/Resources.Designer.cs
visual_studio_code/SensorBoard/Properties/Resources.resx
